name: Build and publish
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-z3:
    strategy:
      matrix:
        os:
          - ubuntu-latest
#          - macos-latest
#          - windows-latest
          # TODO: alpine builds somedays
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          repository: 'Z3Prover/z3'
          ref: 'z3-4.8.10'
      - run: cmake make_directory ${{ github.workspace }}/build
      - run: cmake -DCMAKE_BUILD_TYPE=Release -G "CodeBlocks - Unix Makefiles" ${{ github.workspace }}
        working-directory: ${{ github.workspace }}/build
      - run: cmake --build . --target api -- -j 6
        working-directory: ${{ github.workspace }}/build
      - run: ls -l *
        working-directory: ${{ github.workspace }}/build