name: Build and publish
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  get-z3:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target:
          - file: x64-osx-10.15.7
            out: macos-latest
          - file: x64-ubuntu-18.04
            out: ubuntu-latest
          - file: x64-win
            out: windows-latest
          # TODO: build from sources
    steps:
      - run: wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.10/z3-4.8.10-${{ matrix.target.file }}.zip
      - run: mv z3-4.8.10-${{ matrix.target.file }}.zip z3-${{ matrix.target.out }}.zip
      - uses: actions/upload-artifact@v2
        with:
          name: z3-${{ matrix.target.out }}
          path: ./z3-${{ matrix.target.out }}.zip

  build-z3-node:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
        with:
          name: z3-${{ matrix.os }}
